<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h2>Closer places</h2>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li *ngIf="place.active" class="list-group-item">{{place.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <h2>Featured</h2>
    </div>
  </div>
</div>